.page-hero {
  background-color: #c4c4c4;
}
.page-hero__container {
  padding: 200px 0;
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/bg-hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.page-hero__title {
  width: 700px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.page-hero__button {
  padding: 10px 32px;
  color: $primary-white-color;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $accent-color;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $primary-white-color;
  }
}
