.social-list {
  display: flex;
}
.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: $icon-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $primary-white-color;
    background-color: $accent-color;
  }
  &--background {
    background-color: rgba(255, 255, 255, 0.1);
    fill: $primary-white-color;
  }
}
